<a href="https://colab.research.google.com/github/uday-kumar-1996/coding-practice/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count = 0
sum = 0.0
number = 1

while number != 0:
        number = int(input(""))
        sum = sum + number
        count += 1

if count == 0:
        print("Input some numbers")
else:
        print("Average and Sum of the above numbers are:", sum / (count-1), sum)

4
6
7
8
9
0
Average and Sum of the above numbers are: 6.8 34.0

In [ ]:
a=int(input())
print(a)

-3
-3

In [ ]:
my_list = ['cat', 'bear']
print(max(my_list))

cat

In [ ]:
numbers = [1, 2, 3, 4, 5]
sq=[(lambda x: print(x) if x%2==0 else 'odd')(x) for x in numbers]
print(sq)

2
4
['odd', None, 'odd', None, 'odd']

In [ ]:
numbers = [1, 2, 3, 4, 5]
print([(lambda x: x ** 2)(x) for x in numbers])

[1, 4, 9, 16, 25]

In [ ]:
n = int(input())
for i in range(n):
  if i:
    print(i**2)

3
1
4

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
cooridinates=[[i,j,k] for i in range(x) for j in range(y) for k in range(z) if i+j+k!=n]
print(cooridinates)

1
1
1
2
[[0, 0, 0]]

In [ ]:
N = int(input())
arr=[]
arr.insert(0,5)
arr.insert(1,10)
arr.insert(0,6)
print(arr)

5
[6, 5, 10]

In [ ]:
N = int(input())
arr=[]
arr.insert(0,5)
arr.insert(1,10)
arr.insert(0,6)
print(arr)
arr.remove(6)
arr.append(9)
arr.append(1)
arr.sort()
print(arr)
arr.pop()
arr.reverse()
print(arr)

12
[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

In [ ]:
lst=[]
n = int(input())

for _ in range(n):
    operation = input()

    if operation.startswith('append'):
        _, value = operation.split()
        lst.append(int(value))

    elif operation.startswith('insert'):
        _, index, value = operation.split()
        lst.insert(int(index), int(value))

    elif operation.startswith('remove'):
      _,value = operation.split()
      lst.remove(int(value))

    elif operation.startswith('pop'):
      _ = operation.split()
      lst.pop()

    elif operation.startswith('print'):
      _ = operation.split()
      print(lst)

    elif operation.startswith('sort'):
      _ = operation.split()
      lst.sort()

    elif operation.startswith('reverse'):
      _ = operation.split()
      lst.reverse()

    elif operation.startswith('print'):
      _ = operation.split()
      print(lst)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

5

In [4]:
import sys

# Read all input data
input = sys.stdin.read
data = input().strip().split('\n')


# Collect student names and grades
students = []
for i in range(1, len(data), 2):
    name = data[i]
    grade = float(data[i + 1])
    students.append([name, grade])

# Get all unique grades and sort them
unique_grades = sorted(set(grade for name, grade in students))

# Find the second lowest grade
if len(unique_grades) > 1:
    second_lowest_grade = unique_grades[1]

    # Get names of students with the second lowest grade
    second_lowest_students = sorted(name for name, grade in students if grade == second_lowest_grade)

    # Print each student name in a new line
    for student in second_lowest_students:
        print(student)

In [5]:
data = """5
Harry
37.21
Berry
37.21
Tina
39.21
Mike
40.00
37.21""".strip().split('\n')

import sys

# Read all input data from stdin
data = sys.stdin.read().strip().split('\n')

# Collect student names and grades
students = []
for i in range(0, len(data), 2):
    name = data[i]
    grade = float(data[i + 1])
    students.append([name, grade])

# Get all unique grades and sort them
unique_grades = sorted(set(grade for name, grade in students))

# Find the second lowest grade
if len(unique_grades) > 1:
    second_lowest_grade = unique_grades[1]

    # Get names of students with the second lowest grade
    second_lowest_students = sorted(name for name, grade in students if grade == second_lowest_grade)

    # Print each student name in a new line
    for student in second_lowest_students:
        print(student)

IndexError: list index out of range

In [7]:
data = """5
Harry
37.21
Berry
37.21
Tina
39.21
Mike
40.00
37.21""".strip().split('\n')

import sys

# Read all input data from stdin
data = sys.stdin.read().strip().split('\n')

# Validate the number of lines in input
if len(data) % 2 != 0:


# Collect student names and grades
students = []
for i in range(0, len(data), 2):
    try:
        name = data[i]
        grade = float(data[i + 1])
        students.append([name, grade])
    except IndexError:
        raise ValueError(f"Data at line {i + 1} or {i + 2} is missing or incomplete.")
    except ValueError:
        raise ValueError(f"Invalid grade value at line {i + 2}. Must be a number.")

# Get all unique grades and sort them
unique_grades = sorted(set(grade for name, grade in students))

# Ensure there is a second lowest grade
if len(unique_grades) > 1:
    second_lowest_grade = unique_grades[1]

    # Get names of students with the second lowest grade
    second_lowest_students = sorted(name for name, grade in students if grade == second_lowest_grade)

    # Print each student name in a new line
    for student in second_lowest_students:
        print(student)
else:
    print("Not enough distinct grades to determine the second lowest grade.")

IndentationError: expected an indented block after 'if' statement on line 18 (<ipython-input-7-63bcf8e4e595>, line 22)

In [10]:
n = 3

# Initialize an empty dictionary to store student records
student_marks = {}

# Read each student record and store it in the dictionary
for _ in range(n):
    # Read the input line
    line = input().strip().split()
    name = line[0]
    # Convert the rest of the line to integers and store in a list
    marks = list(map(float, line[1:]))
    student_marks[name] = marks

# Read the query name
query_name = input().strip()

# Retrieve the marks for the query name
marks = student_marks.get(query_name, [])

# Calculate the average of the marks
average = sum(marks) / len(marks) if marks else 0

# Print the average, formatted to 2 decimal places
print(f"{average:.2f}")

IndexError: list index out of range