<a href="https://colab.research.google.com/github/uday-kumar-1996/coding-practice/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares=list(map(lambda x:x**2,numbers))
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5,6,7,8,9]
even_num=list(filter(lambda x:x%2==0,numbers))
print(even_num)

[2, 4, 6, 8]

In [ ]:
grades=[78,92,85,65,89,76,81,59]
list_1=['A'if grade>=90 else 'B'if grade>=80 else'C'if grade>=70 else'D'if grade>=60 else'F' for grade in grades]
print(list_1)

['C', 'A', 'B', 'D', 'B', 'C', 'B', 'F']

In [ ]:
celsius_temps = [25, 30, 15, 20, 10]
fahrenheit_temps = map(lambda x: (x * 9/5) + 32 for x in celsius_temps)
print(fahrenheit_temps)

[<function <genexpr>.<lambda> at 0x7fc97f507880>, <function <genexpr>.<lambda> at 0x7fc97f505990>, <function <genexpr>.<lambda> at 0x7fc97f5076d0>, <function <genexpr>.<lambda> at 0x7fc97f505120>, <function <genexpr>.<lambda> at 0x7fc97f507eb0>]

In [ ]:
celsius_temps = [25, 30, 15, 20, 10]
fahrenheit_temps = list(map(lambda x: x * 9/5 + 32, celsius_temps))
print(fahrenheit_temps)

[77.0, 86.0, 59.0, 68.0, 50.0]

In [ ]:
vowels={char for char in "hello world!" if char in 'aeiou'}
print(vowels)

{'e', 'o'}

In [ ]:

string1 = "hello"
string2 = "world"
unique_chars = {char for char in string1 for char2 in string2 if char == char2}
print(unique_chars)

{'l', 'o'}

In [ ]:
books = [('fiction', 20), ('history', 15), ('biography', 5), ('mystery', 10), ('science', 8), ('fiction', 15), ('history', 10)]

# Using set comprehension to create a set of book categories with at least 10 books in stock
categories = {(category,stock) for category, stock in books if stock >= 10}

print(categories)

{('mystery', 10), ('fiction', 15), ('history', 15), ('fiction', 20), ('history', 10)}

In [ ]:
names = ['Alice', 'Bob', 'Charlie', 'Dave']
name_lengths = {name:len(name) for name in names}
print(name_lengths)

{'Alice': 5, 'Bob': 3, 'Charlie': 7, 'Dave': 4}

ZIP Function():The "zip()" function is used to combine multiple iterables into a single iterable of tuples. It pairs elements from different sequences based on their index. This is particularly useful when you want to loop through multiple lists or strings simultaneously.

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]
for name, score in zip(names, scores):
    print(f"{name}: {score}")

Alice: 85
Bob: 92
Charlie: 78

In [ ]:
a=str(input())
b=a.lower()
c={char:b.count(char) for char in b}
print(c)

Almabetter
{'a': 2, 'l': 1, 'm': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
print([i.lower() for i in "HELLO"])

['h', 'e', 'l', 'l', 'o']