<a href="https://colab.research.google.com/github/uday-kumar-1996/coding-practice/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
menu = [
    ["Burger", 10.99, "Entree"],
    ["Salad", 7.99, "Appetizer"],
    ["Pizza", 14.99, "Entree"],
    ["Fries", 3.99, "Side"],
    ["Ice Cream", 4.99, "Dessert"],
]
menu.sort(key=lambda items:items[1])
print(menu)

[['Fries', 3.99, 'Side'], ['Ice Cream', 4.99, 'Dessert'], ['Salad', 7.99, 'Appetizer'], ['Burger', 10.99, 'Entree'], ['Pizza', 14.99, 'Entree']]

In [ ]:
import numpy as np
my_array = np.array([10, 20, 30, 40, 50])
print(len(my_array))

5

In [ ]:
string1 = "Hello"
string2 = "World"
concatenated_string = string1 +" "+string2
print(concatenated_string)

Hello World

In [ ]:

array = [3, 8, 1, 6, 2, 10, 4, 7, 5, 9, 1, 2, 5, 8]
unique_array = []

for num in array:
    if num not in unique_array:
        unique_array.append(num)

print("Array with duplicates removed:", unique_array)

Array with duplicates removed: [3, 8, 1, 6, 2, 10, 4, 7, 5, 9]

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
new_arr = arr[1::2]
print(new_arr)

[2 4]

In [ ]:
arr = [2, 4, 6, 8]
for i in range(len(arr)):
  if arr[i] % 2 == 0:
    arr[i] = arr[i] ** 2
    print(arr)

[4, 4, 6, 8]
[4, 16, 6, 8]
[4, 16, 36, 8]
[4, 16, 36, 64]

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
new_arr = arr[0:2, 1:]
print(new_arr)

[[2 3]
 [5 6]]

In [15]:

def recursive_factorial(n):
    if n == 1:  # Base case: if n equals 0
        print(1)   # Return 1 (as 0! equals 1)
    else:
        recursive_factorial(n-1)
        print(n)
recursive_factorial(4)

1
2
3
4

In [17]:
def sum_natural_numbers(n):
    if n == 1:
        return 1
    else:
        return n + sum_natural_numbers(n-1)

# Taking input from user
num = int(input("Enter a number: "))

# Checking if the input is valid
if num <= 0:
    print("Invalid input. Please enter a positive integer.")
else:
    print("The sum of natural numbers up to", num, "is", sum_natural_numbers(num))

Enter a number: 10
The sum of natural numbers up to 10 is 55